/*-=-=-=-=- Global table -=-=-=-=-*/
/*-=-=-= Home
1. Custom
2.Header
 -=-=-=*/
 /*-=-=-= Contact 
 1.home
 2. Contact
 -=-=-=*/

/*-=-=-= 1. Custom -=-=-=*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*-=-=-= color -=-=-=*/
  --bg-white: #fff;
  --bg-black: #000;
  --bg-secandary:#35C580;
  --bg-primary:#74767e;
  /*-=-=-= fonts -=-=-=*/
  --primary-font: 'Poppins', sans-serif;

}

body {
  background: var(--bg-white);
  color: var(--bg-black) !important;
  font-family: var(--primary-font);
}

h1,h2,h3,h4,h5,h5,a,p,ul,ol,li {
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Home -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

/*-=-=-= 2.Header -=-=-=*/
.header .navbar .navbar-brand img{
  width: 50px;
  height: 50px;
}
.header .navbar .navbar-brand span{
  font-weight: 900;
  font-size: 1.5625rem;
}
.header .navbar .navbar-brand b{
  color: #35C580;
  font-size: 2rem;
}
.header .navbar .navbar-nav .nav-item .nav-link{
  color: var(--bg-primary);
  font-size: 1.0625rem;
  font-weight: 600;
  margin: 0 0.8125rem;
  transition: .5s;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover,
.header .navbar .navbar-nav .nav-item .active{
  color: var(--bg-secandary);
}
.header .navbar .navbar-nav .nav-item .nav-link:focus{
  color: var(--bg-secandary);
}
.header .navbar .navbar-toggler{
  border: 0;
}
.header .navbar .navbar-toggler:focus{
  box-shadow: none;
}
/*-=-=-= Home -=-=-=*/
.home{
  padding: 120px 0 30px 0;
}
.home .card{
  border-radius: 0;
}
.home .card .card-home{
  padding:20px;
}
.home .card .left{
  color: var(--bg-primary);
  font-size: 1.25rem;
}
.home .card .left span{
  position: absolute;
 
}
.home .card .left span:nth-child(1){
  margin: 2px;
  left: 30px;
  top: 20px;
  color: #B5B6BA;
}
.home .card .left span:nth-child(2){
  right: 20px;
  top: 10px;
  color: var(--bg-secandary);
  font-size: 1rem;
  border: 2px solid var(--bg-secandary);
  border-radius: 50px;
  padding: 0 10px;
  transform: translate(-7px, 20px);
}
.home .card .left span:nth-child(3){
  color: rgb(210,210,210);
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 0.6875rem;
  padding: 12px 9px;
  background-color: #9D1FDF;
  border-radius: 100%;
  transform: translate(31px, 111px);
  border: 1px solid rgba(255,255,255,30%);
  box-shadow: 0 0 0 3px  #9D1FDF;
              
}
.home .card .card-home .card-body .img img{
  border-radius: 100%;
}
.home .card .card-home .card-body .mane h3{
    font-size: 18px;
    font-weight: 600;
    color: rgb(34, 35, 37);
    text-align: center;
    display: block;
    padding-bottom: 6px;
    padding-top: 15px;
}
.home .card .card-home .card-body .mane p{
  vertical-align: baseline;
  color: var(--bg-primary);
  font-size: 0.8125rem;
}
.home .card .card-home .card-body .mane .salam1{
  font-size: 0.8875rem;
  color: var(--bg-primary);
}
.home .card .card-home .card-body .mane .salam1 i{
  color: #FFB33E;
}
.home .card .card-home .card-body .mane .salam1 b{
  
  color: var(--bg-primary);
}
.home .card .card-home .card-body .mane .btn-main a{
  color: var(--bg-white);
  background: var(--bg-secandary);
  padding: 7px 20px;
  font-size: 0.8875rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 5px;
  line-height: 3rem;
  border:2px solid var(--bg-secandary);
}
.home .card .card-home .card-body .mane .btn-main1 a{
  border:2px solid var(--bg-primary);
  background: transparent;
  color: var(--bg-primary);
}
.home .card .card-home .card-body .mane .del{
  border-top: 2px solid #B5B6BA;
  margin-top: 10px;
}
.home .card .card-home .card-body .mane .form{
  color: var(--bg-primary);
  font-size: 0.8875rem;
  font-weight: 500;
  line-height: 3rem;
}
.home .card .card-home .card-body .mane .form .location{
  color: #62646a;
  font-weight: bold;
}
.home .card .card-home .card-body .mane .form span i{
  margin-right: 10px;
}
.home .salam3{
  margin: 20px 0;
}
.home .card .card-learn{
  padding:20px;
}
.home .card .card-learn .card-body span{
  color: #404145;
  font-size: 0.8875rem;
  font-weight: bold;
}
.home .card .card-learn .card-body h5{
  color: #222222;
  font-weight: bold;
}
.home .card .card-learn .card-body h5 b{
  color: var(--bg-secandary);
}
.home .card .card-learn .card-body h5 span{
  color: var(--bg-primary);
  font-size: 0.4875rem;
  position: absolute;
}
.home .card .card-learn .card-body .card-online{
  padding-top: 30px;
}
.home .card .card-learn .card-body .card-online h4 .fa-award{
  color: var(--bg-secandary);
  background-color: #CEF2E4;
  padding: 10px 15px;
  border-radius: 50px;
}
.home .card .card-learn .card-body .card-online h4 span{
  position: relative;
}
.home .card .card-learn .card-body .card-online h4 span b{
  position: absolute;
  transform: translate(54px, -8px);
}
.home .card .card-description{
  padding:20px;
}
.home .card .card-description h3{
  color: #404145;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 10px 10px 0;
}
.home .card .card-description p{
  color: var(--bg-primary);
  font-size: 0.8875rem;
  font-weight: 500;
}
.home .card .card-description .del{
  border-top: 1px solid rgb(0,0,0,20%);
  margin: 30px 0 10px 0;
}
.home .card .card-description .languages p{
  line-height: 2rem;
}
.home .card .card-description .languages b{
  color: rgb(0,0,0,70%);
}
.home .card .card-description .skill h3{
  color: var(--bg-black);
}
.home .card .card-description .skill h3 i{
  color: var(--bg-secandary);
  font-size: 1.25rem;
}
.home .card .card-description .skill h3 span{
  color: var(--bg-primary);
  font-weight: 300;
  font-size: 0.725rem;
  border: 1px solid rgb(0,0,0,20%);
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 5px;
}
.home .card .card-description .skill .html p{
  font-size: 1rem ;
  line-height: 2rem;
}
.home .card .card-description .skill .html  span:nth-child(1){
  font-weight: bolder;
  font-size: .625rem;
}
.home .card .card-description .skill .html  span:nth-child(2){
  font-size: .775rem;
  background-color: var(--bg-secandary);
  color: var(--bg-white);
  padding: 6px 7px;
  font-weight: 500;
  border-radius: 3px;
}
.home .card .card-description .linked p{
  line-height: 2rem;
}
.home .card .card-description .linked p i{
  font-size: 1rem;
  padding-right: 10px;
}
.home .card .card-description .Skills p{
  font-size: 1.1rem;
}
.home .card .card-description .Skills p span{
  line-height: 2.8rem;
  padding: 6px 15px;
  border-radius: 50px;
  border: 1px solid rgb(0,0,0,20%);
}
.home .card .card-description .education h3{
  color: rgb(0,0,0,80%);
  font-size: 1.15rem;
  font-weight: 500;
}
/*-=-=-= RIGHT -=-=-=*/
.home .right .card{
  border-radius: 0;
  
}
.home .right .actuve h3{
  margin: 20px;
  font-size: 1rem;
  color: var(--bg-primary);
  font-weight: 600;
}
.home .right .row {
  padding: 20px 10px 30px 9px;
}
.home .right .card .gig-profile img{
  border-radius: 50px;
}
.home .right .card .gig-profile p{
  color: var(--bg-black);
  transform: translate(4px, 0px);
}
.home .right .card h4 span{
  color: var(--bg-primary);
  position: absolute;
  transform: translate(44px, -15px);
  font-size: .75rem;
}
.home .right .card .card-text{
  font-weight: 600;
  margin-top: 1rem;
}
.home .right .card .salam30 {
  color: #FFB33E;
  font-weight: 600;
  font-size: .9rem;
}
.home .right .card .salam30 i{
  margin-right: 5px;
}
.home .right .card .salam30 b{
  color: rgb(0,0,0,25%);
}
.home .right .card .del{
  border-top: 2px solid rgb(0,0,0,20%);
  margin: 20px 0;
}
.home .right .card .love{
  color: #B5B6BA;
}
.home .right .card .love i{
  margin-right: 6px;
}
.home .right .card .love h6 span{
  color: rgb(0,0,0,60%);
  font-size: 0.775rem;
  font-weight: 700;
  
}
.home .right .card .love h6 span b{
  font-size: 1.154rem;
  font-weight: 500;
  color: rgb(0,0,0,80%);
  margin-left: 3px;
}
/*-=-=-= Reviews  -=-=-=*/
.home .right .sazina{
  margin: 50px 0 40px 0;
}
.home .right .sazina h3{
  font-size: 1.275rem;
  font-weight: 600;
  color: rgb(0,0,0,70%);
}
.home .right .sazina h3 i{
  color: #FFB33E;
  font-size: .8rem;
  margin-left: 4px;
}
.home .right .sazina h3 span{
  font-size: .9rem;
  font-weight: 700;
  color: rgb(0,0,0,80%);
}
.home .right .sazina h6{
  color: rgb(0,0,0,80%);
  font-weight: 500;
}
.home .right .sazina h6 i{
  color: rgb(0,0,0,40%);
  font-weight: 700;
}
.home .right .Seller p{
  color: rgb(0,0,0,70%);
  font-weight: 500;
  font-size: .975rem;
}
.home .right .Seller i{
  color: #FFB33E;
  font-size: .8rem;
  margin: 2px;
}
.home .right .Seller span{
  color: #FFB33E;
  font-weight: 700;
  font-size: .875rem;
}
.home .right .input-group{
  margin: 25px 0;
}
.home .right .form-control{
  color: #B5B6BA;
  font-size: 1.1rem;
  font-weight: 500;
}
.home .right .form-control:focus{
  box-shadow: none;
  border-color: #B5B6BA;
  outline: none;
}
.home .right .btn-dark{
  font-weight: 500;
}
.home .right .btn-dark:focus{
  box-shadow: none;
}
.home .right .del{
  border-top: 1px solid rgb(0,0,0,20%);
  margin: 5px 0;
}
.home .right .sazina-5,
.about-gig .sazina-5{
  margin: 20px 0;
}
.home .right .sazina-5 b,
.about-gig .sazina-5 b{
  color: var(--bg-white);
  background: #E4E5E7;
  padding: 4px 11px;
  border-radius: 50px;
  margin-right: 10px;
}
.home .right .sazina-5 span b,
.about-gig .sazina-5 span b{
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: rgb(0,0,0,80%);
}
.home .right .sazina-5 img,
.about-gig .sazina-5 img{
  border-radius: 4px;
  width: 20px;
  height: 15px;
}
.home .right .sazina-5 .sazina-img,
.about-gig .sazina-5 .sazina-img{
  margin-left: 48px;
}
.home .right .sazina-5 .sazina-img-1,
.about-gig .sazina-5 .sazina-img-1{
  color: rgb(0,0,0,50%);
  font-size: 1rem;
  font-weight: 600;
}
.home .right .sazina-5 .months,
.about-gig .sazina-5 .months{
  margin: 30px 0;
  margin-left: 48px;
}
.home .right .sazina-5 .months h6 i,
.about-gig .sazina-5 .months h6 i{
  color: #FFB33E;
  font-size: .8rem;
}
.home .right .sazina-5 .months h6 i:nth-child(5),
.about-gig .sazina-5 .months h6 i:nth-child(5){
  border-right: 2px solid rgb(0,0,0,40%);
  padding: 0 10px 0 0;
}
.home .right .sazina-5 .months h6 span,
.about-gig .sazina-5 .months h6 span{
  color: rgb(0,0,0,40%);
  margin-left: 10px;
}
.home .right .sazina-5 .months p,
.about-gig .sazina-5 .months p{
  color: rgb(0,0,0,70%);
  font-size: 0.9375rem;
  font-weight: 500;
}
.home .right .sazina-5 .months h5,
.about-gig .sazina-5 .months h5{
  color: rgb(0,0,0,70%);
  font-size: 0.9375rem;
  font-weight: 600;
  margin-top: 30px;
}
.home .right .sazina-5 .months h5 span,
.about-gig .sazina-5 .months h5 span{
 margin-left: 15px;
}
.add a{
  color: var(--bg-secandary);
}
.add a i{
  margin-right: 5px;
  font-size: .7rem;
}
/*-=-=-=-=-=-=-=-=-=-=-0=-=-Home exit-=-=-=-=-=-=-=-=-=-=-0=-=-  */
/*-=-=-=-=-=-=-=-=-=-=-0=-=- footer-=-=-=-=-=-=-=-=-=-=-0=-=-  */
.footer .row{
  padding: 20px 0;
  background: #F8F9FA;
}
.footer img{
  width: 50px;
  height: 50px;
}
.footer span{
  font-weight: 900;
  font-size: 1.5625rem;
}
.footer span b{
  color: #35C580;
  font-size: 2rem;
}
.footer .copy{
  color: rgb(0,0,0,40%);
  font-weight: 600;
  font-size: 1rem;
}
.footer .copy span{
  color: #000000;
  font-size: 1.125rem;
  padding-right: 5px;
  border-right: 2px solid rgb(0,0,0,40%);
}
.footer .copy span b{
  font-size: 1rem;
}
.footer .sosal a{
  color: rgb(0,0,0,40%);
  margin: 0 -5px;
  font-size: 1.125rem;
  padding: 5px 10px;
  border-radius: 50px;
  transition:all 0.5s;
}
.footer .sosal a:hover{
  background: rgb(0,0,0,10%);
}
.footer .sosal span a{
  color: rgb(0,0,0,60%);
}
.footer .sosal span a b{
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0,0,0,50%);
}
.footer .sosal span a:nth-child(3){
  border: 2px solid rgb(0,0,0,60%);
  font-size: 1rem;
}
.footer .sosal span a:nth-child(3):hover{
  border: 0;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-footer exit-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- contact-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.contact {
  margin: 100px 0;
}
.contact .us span{
  color: rgba(0, 0, 0, 0.9);;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}
.contact .us span::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px ;
  background-color: var(--bg-secandary);
  bottom: -5px;
  left: 0;
}
.contact .us span::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px ;
  background-color: var(--bg-secandary);
  bottom: -10px;
  left: 42.5%;
  border-radius: 50px;
}
.contact .map{
  margin: 50px 0 40px 0;
}
.contact .hire h2{
  color: rgb(0,0,0,70%);
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 2.5rem;
}
.contact .hire p{
  color: rgb(0,0,0,60%);
  font-weight: 600;
  font-size: 1.125rem;
}
.contact .input-2{
  margin-top: 40px;
}
.contact .input-2 .sahmim12{
  position: relative;

}
.contact .input-2 .form-control{
  padding: 10px ;
  border-color: rgb(0,0,0,40%);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: rgb(0,0,0,70%);
  font-size: 1em;
  font-weight: 700;
}
.contact .input-2 .form-control:focus{
  box-shadow: none;
  border-color: var(--bg-secandary);
}
.contact .sahmim12 span{
  position: absolute;
  left: 12px;
  top: 0;
  padding: 10px ;
  pointer-events: none;
  font-size: 1em;
  color: rgb(0,0,0,70%);
  text-transform: uppercase;
  font-weight: 700;
  transition: all .5s;
}
.contact .sahmim12 input:valid ~ span,
.contact .sahmim12 input:focus ~ span{
  color: var(--bg-secandary);
  transform: translateX(8px) translateY(-12px);
  font-size: 1rem;
  padding: 0 15px;
  background: var(--bg-white);
  border-left: 2px solid var(--bg-secandary);
  border-right: 2px solid var(--bg-secandary);
}
.contact .sahmim12 .sazina-30{
  border-color: var(--bg-secandary);
}
.contact .sahmim12 datalist{
  color: red;
}
.contact .form-floating{
  position: relative;
}
.contact .form-floating .form-control{
 
  border-color: rgb(0,0,0,40%);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: rgb(0,0,0,70%);
  font-size: 1em;
  font-weight: 700;
  border-color: var(--bg-secandary);
}
.contact .form-floating .form-control:focus{
  box-shadow: none;
}

.contact .form-floating span{
  position: absolute;
  left: 12px;
  top: 0;
  padding: 10px ;
  font-weight: 700;
  pointer-events: none;
  color: var(--bg-secandary);
  transform: translateX(8px) translateY(-12px);
  font-size: 1rem;
  padding: 0 15px;
  background: var(--bg-white);
  border-left: 2px solid var(--bg-secandary);
  border-right: 2px solid var(--bg-secandary);
}
.contact .btn-primary{
  background: var(--bg-secandary);
  border-color: var(--bg-secandary);
  color: var(--bg-white);
  font-weight: 600;
  padding: 7px 25px;
  font-size: 1.125rem;
  letter-spacing: 1px;
}
.contact .btn-primary:focus{
  box-shadow: none;
}
.option-1{
color: rgb(0,0,0,55%);
font-size: 1rem;
font-weight: 600;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- contact End-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Works -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.body-3{
  background: #ecf0f3;
}
.works{
  margin: 100px 0 0 0 ;
}
.works .recent h2{
  color: #31344b;
  font-weight: 700;
  margin: 30px 0;
}
.works .recent-1{
  margin: 30px 0;
}

.works .recent-1 .card{
  padding: 20px;
  border-radius: 30px;
  background-color: #ecf0f3;
  border: 0;
  transition: all .4s;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.works .recent-1 img{
  font-weight: 250px;
  height: 200px;
  border-radius: 30px;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.works .recent-1 .card-body-12 h3{
  font-size: 1rem;
  font-weight: 600;
  color: #44476a;
  margin: 15px;
}
.works .recent-1 .card-body a{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
  cursor: pointer;      
  color: #31344b;  
  z-index: 4; 
}
.works .recent-1 .card-body{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.works .recent-1 .card-body a{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
  cursor: pointer;      
  color: #31344b;  
  z-index: 4;      
}
.works .recent-1 .card-body a:first-child{
  margin-right: 10px;
}
.works .recent-1 .card-body a:last-child{
  margin-left: 10px;
}
.works .recent-1 .card-body a:hover::before{
  border-radius: 5px;
  z-index: -1;
}
.works .recent-1 .card-body a:hover::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset  3px 3px 5px #ceced1;
}

/* team */
.team{
  padding: 50px 0;
}
.team .team-1 h2{
  color: #31344b;
  font-weight: bold;
  font-size: 2.225rem;
  letter-spacing: 1px;
  line-height: 2rem;
}
.team .team-1 p{
  color: #31344b;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}
.team .team-2{
  margin: 50px 0;
}
.team .team-2 .card .img{
  width: 100%;
  height: 400px;
}
.team .team-2 .card .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body-1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper,
.wrapper .img-area{
  background-color: #ecf0f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.wrapper{
  padding: 30px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ecf0f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-area .inner-area{
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.inner-area img{
  height: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name{
  font-size: 1.4375;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  font-weight: 400;
  color: #44476a;
  font-size: 1rem;
}
.wrapper .social-icons{
  margin: 15px 0 25px 0;
}
.wrapper .social-icons a{
  height: 40px;
  width: 40px;
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
  position: relative;            
}
.wrapper .social-icons a:hover::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset  3px 3px 5px #ceced1;
}
.wrapper .social-icons a.fb i{
  color: #426784;
}
.wrapper .social-icons a.twi i{
  color: #1DA1F2;
}
.wrapper .social-icons a.lin i{
  color: #0276B1;
}
.wrapper .social-icons a.pin i{
  color: #DE0022;
}
.wrapper .social-icons a i{
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
  position: relative;
  z-index: 5;
}
.wrapper .buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper .buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
  cursor: pointer;      
  color: #31344b;  
  z-index: 4;      
}
.wrapper .buttons button:first-child{
  margin-right: 10px;
}
.wrapper .buttons button:last-child{
  margin-left: 10px;
}
.wrapper .buttons button:hover::before{
  border-radius: 5px;
  z-index: -1;
}
 .buttons button:hover::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset  3px 3px 5px #ceced1;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Works End-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Gig pase -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.gig{
  margin: 100px 0;
  padding: 0 20px;
}
.gig .programming a{
  color: #446ee7;
  font-size: .8375rem;
  font-weight: 500;
}
.gig .programming i{
  color: #74767e;
  font-size: .8375rem;
}
.gig .gig-title{
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
  margin-top: 10px;
}
.seller-1{
  margin: 7px 0;
}
.seller-1 img{
  border-radius: 50%;
}
.seller-1 a h5{
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    color: #404145;
    font-size: .875rem;
}
.seller-1 a h5 span{
  color: #404145;
  font-size: 12px;
    line-height: 21px;
    padding: 0 7px;
    border-right: 1px solid #404145;
}
.seller-1 a h5 i{
  font-size: 12px;
  line-height: 19px;
  color: #FFB33E;
  margin-left: 5px;
}
.seller-1 a h5 b{
  color: #404148;
  font-size: 12px;
   line-height: 21px;
   font-weight: 600;
   margin-left: 5px;
}
.carousel-1{
  margin: 20px 0;
  position: relative;
}
.carousel-1 .carousel-inner .carousel-item img{
  transition: .5s;
}
.carousel-1 .carousel-inner .carousel-item:hover  img{
  transform: scale(1.04);
}

.carousel-1 .carousel-control-prev-icon{
  position: absolute;
  transform: translate(-36px);
  background: transparent;
}
.carousel-1 .fa-chevron-left{
  position: absolute;
  left: -15px;
  font-size: 1.5rem;
  color: var(--bg-black);
  background: var(--bg-white);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 7px #ceced1;
}
.carousel-1 .carousel-control-next-icon{
  position: absolute;
  transform: translate(3px);
  background: transparent;
}
.carousel-1 .fa-angle-right{
  position: absolute;
  font-size: 1.5rem;
  right: -15px;
  color: var(--bg-black);
  background: var(--bg-white);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 7px #ceced1;
}
.about-gig{
  margin: 30px 0;
}
.about-gig .about-gig-title{
  color:#575850;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 28px;
  padding-bottom: 25px;
}
.about-gig .gig-title-1 p, .Hello{
  color: #62646a;
  font-size: 1rem;
  font-weight: .125rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.about-gig .Are, .professional{
  color: #62646a;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
}
.about-gig .Are span, .professional span, .gig-title-1 p span{
  background: #FFECD1;
}
.about-gi .professional{

}
.about-gig .gig-title-2 p, .Hello{
  color: #62646a;
  font-size: 1rem;
  font-weight: .125rem;
  font-weight: 600;
}
.about-gig .gig-title-3 p{
  color: #62646a;
  font-size: .9375rem;
  font-weight: .125rem;
  font-weight: 500;
}
.about-gig .gig-title-3 p b{
  background: #FFECD1;
}
.about-gig .del{
  border-top: 1px solid rgb(0,0,0,20%);
}
.about-gig .browser p{
  color: rgb(0,0,0,50%);
  font-weight: 500;
  font-size: 1.125rem;
}
.about-gig .browser h6{
  color: #62646a;
  font-size: 1rem;
  font-weight: 500;
}
.about-gig .seller-3 p{
  color: rgb(0,0,0,80%);
  font-size: 1.5rem;
  font-weight: 600;
}
.about-gig .seller-3-body img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  
}
.about-gig .level-4{
  background: #9D1FDF;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  line-height: .6rem;
  transform: translate(92px, 98px);
  padding: 7px;
  border: 1px solid rgba(255,255,255,30%);
  box-shadow: 0 0 0 3px  #9D1FDF;
}
.about-gig .level-4 span{
  color: white;
  font-size: .6rem;
  font-weight: 400;
}
.about-gig .level-4 span b{
  color: white;
  font-size: .6rem;
  font-weight: 400;
}
.about-gig .seller-3-body .seller-name{
  margin: 0 15px;
}
.about-gig .seller-3-body .seller-name p{
  color: rgb(0,0,0,70%);
  font-size: .9375rem;
  font-weight: 700;
  line-height: 2rem;
}
.about-gig .seller-3-body .seller-name p span{
  color: var(--bg-secandary);
  margin-left: 20px;
  font-size: .7375rem;
  font-weight: 700;
  padding: 1px 4px;
  border: 1px solid var(--bg-secandary);
  border-radius: 50px;
}
.about-gig .seller-3-body .seller-name .web-1{
  color: rgb(0,0,0,70%);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}
.about-gig .seller-3-body .seller-name h6 i{
  color: #FFB33E;
  font-size: .8rem;
  margin: 0 2px;
  line-height: 2rem;
}
.about-gig .seller-3-body .seller-name h6 b{
  margin-left: 4px;
  color: #FFB33E;
}
.about-gig .seller-3-body .seller-name .btn-primary{
  background: transparent;
  color: rgb(0,0,0,70%);
  font-weight: 600;
  border-color: rgb(0,0,0,60%);
  line-height: 2rem;
}
.about-gig .card{
  padding: 20px;
}
.about-gig .card .card-body-from h4{
  line-height: 2rem;
}
.about-gig .card .card-body-from h4,
.about-gig .card .description{
  font-size: 1rem;
  color: rgb(0,0,0,50%);
  font-weight: 600;
}
.about-gig .card .card-body-from p{
  color: rgb(0,0,0,80%);
  font-size: 1.125rem;
  font-weight: 600;
}


.abute-profile{
  margin: 50px;
}
.abute-profile .abute-profile-1{
 background: var(--bg-white);
 width: 300px;
 padding: 10px;
 bottom: 30px;
 z-index: 1000;
 position: fixed;
 left: 30px;
 border-radius: 50px;
 box-shadow: 0 0 3px rgb(0,0,0,18%);
 
}
.abute-profile .abute-profile-1 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  
}
.abute-profile .abute-profile-1::before{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: var(--bg-secandary);
  border-radius: 50%;
  left: 49px;
  bottom: 14px;
  box-shadow: 0 0 0 2px var(--bg-white);
}
.abute-profile .abute-profile-1 .abute-profile-2 a{
  color: rgb(0,0,0,50%);
  font-size: .9rem;
  font-weight: 700;
}
.abute-profile .abute-profile-1 .abute-profile-2 a span{
  margin-left: 5px;
}
.abute-profile .abute-profile-1 .abute-profile-2 p{
  color: rgb(0,0,0,50%);
  font-size: .7rem;
  font-weight: 700;
}
.abute-profile .abute-profile-1 .abute-profile-2 p span{
  margin-left: 3px;
}
.accordion .accordion-item{
  border: 0;
  border-bottom: 1px solid rgb(0,0,0,20%);
}
.accordion-button:not(.collapsed) {
  color: rgb(0,0,0,55%);
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-button {
  color: rgb(0,0,0,55%);
  font-size: 1rem;
  font-weight: 600;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-body {
  color: rgb(0,0,0,55%);
  font-size: .9rem;
  font-weight: 600;
}
.accordion-button[data-bs-toggle="collapse"]{
  columns: red;
}
.faq{
  color: rgb(0,0,0,80%);
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 24px;
}
.reviews-101{
  margin: 100px 0 50px 0;
}
.reviews-101 .reviews-102{
  color: rgb(0,0,0,80%);
  font-size: 1.25rem;
  font-weight: 600;
}
.reviews-101 .reviews-102 i{
  color: #FFB33E;
  font-size: .8rem;
  margin:  0 2px 0 2px;
}
.reviews-101 .reviews-102 b{
  color: #FFB33E;
  font-size: .8rem;
  font-weight: 400;
}
.reviews-101 .reviews-103{
  color: rgb(0,0,0,70%);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.reviews-101 .reviews-103 span{
  color: rgb(0,0,0,80%);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 6px 0 6px;
}
.reviews-101 .reviews-103 i{
  color: rgb(0,0,0,55%);
}
.tabs-salam{
 padding: 40px;
 position: fixed;
 right: 0;
}
.tabs-salam .nav-pills{
  border-bottom: 1px solid rgb(0,0,0,25%);
}
.tabs-salam .nav-pills .nav-item{
  border-right: 1px solid rgb(0,0,0,25%);
  border-left: 1px solid rgb(0,0,0,25%);
}
.tabs-salam .nav-pills .nav-link{
  color: rgb(0,0,0,60%);
  font-size: 1rem;
  font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bg-secandary);
  background-color: transparent !important;
  border-bottom: 4px solid var(--bg-secandary);
  border-radius: 0;
}
.basic{
  margin: 20px;
}
.basic .basic-1{
  margin-bottom: 40px;
}
.basic .basic-1 h3{
  color: rgb(0,0,0,80%);
  font-size: 1.5rem;
  font-weight: 600;
}
.basic p{
  color: rgb(0,0,0,50%);
  font-size: .816rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.basic span{
  font-size: .9385rem;
  font-weight: 700;
  color: rgb(0,0,0,70%);
}
.basic span i{
  margin-right: 6px;
  font-size: 1rem;
}
.basic span b{
  font-size: .9385rem;
  font-weight: 700;
  color: rgb(0,0,0,70%);
  margin-left: 10px;
}
.basic h5{
  font-weight: 600;
  font-size: 1rem;
  color: rgb(0,0,0,40%);
  margin: 6px 0;
}
.basic h5 i{
  color: var(--bg-secandary);
  font-size: 1.125rem;
  margin-right: 15px;
}
.basic .shamim-9 i{
  color: rgb(0,0,0,25%);
}
.basic .salan{
  background: var(--bg-secandary);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: var(--bg-white);
  border-radius: 5px;
  margin-top: 20px;
}
.basic .salan-2{
  margin: 20px;
}
.basic .salan-1{
 color: var(--bg-secandary);
 font-size: .9375rem;
}
.basic .shamim-10 i{
  color: var(--bg-secandary);
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- Gig pase end-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/